*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

.board {
  background-color: black;
  padding: 0;
  margin: 0;
}

.title {
  z-index: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  margin: 0;
  flex-direction: column;
}

.subtitle {
  margin-top: 0.5rem;
}

.hide {
  display: none;
}

.bird {
  --bird-top: -1000;
  position: absolute;
  width: 90px;
  height: 71px;
  left: 71px;
  top: calc(var(--bird-top) * 1px);
}

.bird img {
  height: 100%;
  width: 100%;
}

.pipe {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(var(--pipe-width) * 1px);
  left: calc(var(--pipe-left) * 1px);
}

.pipe > .segment {
  position: absolute;
  width: 100%;
  background-color: hsl(31, 100%, 25%);
}

.pipe > .top {
  top: 0;
  bottom: calc(var(--hole-top) * 1px);
}

.pipe > .bottom {
  bottom: 0;
  top: calc(100vh - (var(--hole-top) * 1px) + calc(var(--hole-height) * 1px));
}

.environment {
  position: relative;
}

.background {
  --left: 0;
  position: absolute;
  width: 100%;
  left: calc(var(--left) * 1%);
}

#progress_bar {
  position: fixed;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 10px;
  border: 1px solid rgb(101, 70, 179);
  border-radius: 25px;
  box-shadow: 0 0 5px 5px rgb(70, 0, 248);
}

#bar_percentage {
  width: 3%;
  height: 100%;
  border-radius: 25px;
  transition: width 0.3s ease-in-out;

  background: rgb(22, 181, 238);
  background: linear-gradient(
    to right,
    rgb(60, 168, 203) 0%,
    rgb(44, 179, 200) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);
}

#percentage_number {
  margin: 10px auto;
  font-size: 25px;
  width: 60px;
  color: white;
}

#loaderOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10;
}
