*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

.board {
  background-color: black;
  padding: 0;
  margin: 0;
}

.title {
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  margin: 0;
  flex-direction: column;
}

.subtitle {
  margin-top: 0.5rem;
}

.hide {
  display: none;
}

.bird {
  --bird-top: -1000;
  position: absolute;
  width: 90px;
  height: 71px;
  left: 71px;
  top: calc(var(--bird-top) * 1px);
}

.bird img {
  height: 100%;
  width: 100%;
}

.pipe {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(var(--pipe-width) * 1px);
  left: calc(var(--pipe-left) * 1px);
}

.pipe > .segment {
  position: absolute;
  width: 100%;
  background-color: hsl(31, 100%, 25%);
}

.pipe > .top {
  top: 0;
  bottom: calc(var(--hole-top) * 1px);
}

.pipe > .bottom {
  bottom: 0;
  top: calc(100vh - (var(--hole-top) * 1px) + calc(var(--hole-height) * 1px));
}

.environment {
  position: relative;
}

.background {
  --left: 0;
  position: absolute;
  width: 100%;
  left: calc(var(--left) * 1%);
}
